/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

 body .container {
    max-width: 900px;
    margin: 0 auto;
    background-color: #ffeea3;
}

header {
    background-color: #75485E;
    padding: 15px;
    margin: 20px 0;
}

 input {
    font-family: 'Montserrat', sans-serif; 
    width: 22%;
    height: 25px;
    border-radius: 10px;
    margin-right: 10px;
    background-color: white;
}

 #guardar {
    background-color:white ;
}

 select {
    background-color:white ;
    font-family: 'Montserrat', sans-serif; 
    width: 22%;
    height: 25px;
    border-radius: 10px;
    margin-right: 10px;
}
form option {
    font-family: 'Montserrat', sans-serif; 
}

main {
    padding: 15px;
    margin:  20px 0;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: black ;
    margin: 5px;
    padding: 3px;
}

.urgente {
    background-color: rgb(190, 72, 51);
}

.diaria {
    background-color: rgb(156, 154, 21);
}

.mensual {
    background-color: rgb(26, 146, 142);
}







